body {
    font-family: 'Apple SD Gothic Neo', 'Roboto', 'Noto Sans KR', NanumGothic, 'Malgun Gothic', sans-serif;
    -webkit-overflow-scrolling: touch;
    color: #555;
    background: #888;
    transition: background .5s;
    background-image: url("../images/background.png");

}

.world {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    perspective: 1000px;
}

.stage {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    transform-style: preserve-3d;
}

.wall-container {
    width: 100vw;
    height: 100vh;
    transform: translateZ(-490vw);
    transform-style: preserve-3d;
}

.wall {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.7)
}

.wall-left {
    width: 1000vw;
    transform: rotateY(90deg) translateZ(-500vw);
    background-image: url("../images/wall2.png");
}

.wall-right {
    width: 1000vw;
    transform: rotateY(90deg) translateZ(-400vw);
    background-image: url("../images/wall2.png");
}

/*.wall-top {*/
/*    height: 1000vw;*/
/*    transform: rotateX(90deg)  translateZ(500vw);*/
/*    background-image: url("../images/wall2.png");*/
/*}*/

.wall-bottom {
    height: 1000vw;
    transform: rotateX(90deg) translateZ(calc(500vw - 100vh)) ;
    background-image: url("../images/wall2.png");
}

.wall-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wall-last {
    transform: translateZ(-500vw);
}

.wall-title {
    font-size: 5rem;
}

.doc-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100px;
    background: rgba(100, 100, 100, 0.5);
    z-index: 100;
}

.doc-inner {
    width: 0%;
    height: 100%;
    background: dodgerblue;
}